backup-schema.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>Backup Schema</name>
    <snippet>
        <processGroups>
            <id>1c7c007f-c287-3b92-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>1c7c007f-c287-3b92-8ac4-79a6a0bf20fd</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>84fe03a3-7f0b-35bb-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>84fe03a3-7f0b-35bb-99f6-a50dd2e0c298</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>a950e3e9-2aab-3a6a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a950e3e9-2aab-3a6a-a75e-2c2309711252</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>f5c90188-d8e7-3dae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f5c90188-d8e7-3dae-8c1a-a7d2d9948105</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8d0dc114-e39b-3cc6-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>8d0dc114-e39b-3cc6-afb3-64dbac5c7662</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>3c2df8f3-6b01-3b89-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3c2df8f3-6b01-3b89-9748-288ddbc23170</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>689ec8a9-e3af-35a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>689ec8a9-e3af-35a0-a5ac-2785a52a725f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dfb2a38c-0781-3de3-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>dfb2a38c-0781-3de3-98fb-d61743972561</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>309e5b90-9860-36d1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>309e5b90-9860-36d1-a3fe-5273fe8ad0f4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>a950e3e9-2aab-3a6a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a950e3e9-2aab-3a6a-a75e-2c2309711252</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f6e8f31d-4422-3e34-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>f6e8f31d-4422-3e34-a79f-2bcf50f26584</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>5f3d8df9-99d1-3552-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f3d8df9-99d1-3552-b3d5-ce8c17015637</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>3c2df8f3-6b01-3b89-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3c2df8f3-6b01-3b89-9748-288ddbc23170</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fa80dd98-4124-3855-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>fa80dd98-4124-3855-8ddf-c50e0ee4225e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>80882bca-8f45-34c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>80882bca-8f45-34c1-8fa8-9be016807e2c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>5f3d8df9-99d1-3552-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5f3d8df9-99d1-3552-b3d5-ce8c17015637</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>10f6a4b6-fc7a-3686-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>10f6a4b6-fc7a-3686-aaad-b9e08edbd9f0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>f5c90188-d8e7-3dae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f5c90188-d8e7-3dae-8c1a-a7d2d9948105</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>6646e0c4-ad51-353a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6646e0c4-ad51-353a-99d4-88851bf6218f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c3a5872-fcbb-364a-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c3a5872-fcbb-364a-bde3-aa484c1fccdd</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>309e5b90-9860-36d1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>309e5b90-9860-36d1-a3fe-5273fe8ad0f4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>fa2685ff-764f-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fa2685ff-764f-3d4c-9c03-ad5b7cf70721</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>400008c9-2378-3e33-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>400008c9-2378-3e33-8c2d-62ab6c9ca005</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>6646e0c4-ad51-353a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6646e0c4-ad51-353a-99d4-88851bf6218f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>80882bca-8f45-34c1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>80882bca-8f45-34c1-8fa8-9be016807e2c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4ac6c6ee-59b2-38ce-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <versionedComponentId>4ac6c6ee-59b2-38ce-acd2-7adad0118429</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>fa2685ff-764f-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fa2685ff-764f-3d4c-9c03-ad5b7cf70721</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>1c7c007f-c287-3b92-0000-000000000000</groupId>
                        <id>6646e0c4-ad51-353a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6646e0c4-ad51-353a-99d4-88851bf6218f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>296fd854-f4f9-3e3a-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1169.6057726048853</x>
                        <y>1144.016360879706</y>
                    </position>
                    <versionedComponentId>296fd854-f4f9-3e3a-8f6f-b71a24900dec</versionedComponentId>
                    <height>2000.9591064453125</height>
                    <label>DevOps:  Backup Schemas</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6f7ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>964.796630859375</width>
                </labels>
                <processors>
                    <id>80882bca-8f45-34c1-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1405.3104629516602</x>
                        <y>1832.5503387451172</y>
                    </position>
                    <versionedComponentId>80882bca-8f45-34c1-8fa8-9be016807e2c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>
    <name>schema</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                            <entry>
<key>schemaName</key>
<value>
    <name>schemaName</name>
</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>
    <name>timestamp</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>$.schemaMetadata.name</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>$.schemaMetadata.name</value>
                            </entry>
                            <entry>
<key>schemaName</key>
<value>$.schemaMetadata.name</value>
                            </entry>
                            <entry>
<key>timestamp</key>
<value>$.timestamp</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>EvaluateJsonPath Get Schema</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>a950e3e9-2aab-3a6a-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1719.6973711667356</x>
                        <y>2690.362400719303</y>
                    </position>
                    <versionedComponentId>a950e3e9-2aab-3a6a-a75e-2c2309711252</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${schema}.avsc</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name> Schema New File Name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>f5c90188-d8e7-3dae-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1704.5804443954241</x>
                        <y>2243.658250926782</y>
                    </position>
                    <versionedComponentId>f5c90188-d8e7-3dae-8c1a-a7d2d9948105</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>schema.text</key>
<value>
    <name>schema.text</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>schema.text</key>
<value>$.schemaText</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>EvaluateJsonPath Get Schema</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>fa2685ff-764f-3d4c-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1239.7796465573606</x>
                        <y>2298.565281578678</y>
                    </position>
                    <versionedComponentId>fa2685ff-764f-3d4c-9c03-ad5b7cf70721</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${schema}.backup.json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>New File Name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>309e5b90-9860-36d1-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1459.1191326591197</x>
                        <y>2937.0243924202164</y>
                    </position>
                    <versionedComponentId>309e5b90-9860-36d1-a3fe-5273fe8ad0f4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/opt/demo/schemas</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>3c2df8f3-6b01-3b89-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1406.7504653930664</x>
                        <y>1446.1179656982422</y>
                    </position>
                    <versionedComponentId>3c2df8f3-6b01-3b89-9748-288ddbc23170</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>schema</key>
<value>
    <name>schema</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>schema</key>
<value>schemaschema</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>schemaschema</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>5f3d8df9-99d1-3552-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1402.2144241333008</x>
                        <y>1639.2242279052734</y>
                    </position>
                    <versionedComponentId>5f3d8df9-99d1-3552-b3d5-ce8c17015637</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.entities</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>6646e0c4-ad51-353a-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1404.3751787434067</x>
                        <y>2027.2789754246787</y>
                    </position>
                    <versionedComponentId>6646e0c4-ad51-353a-99d4-88851bf6218f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://princeton1.field.hortonworks.com:7788/api/v1/schemaregistry/schemas/${schema}/versions/latest?branch=MASTER</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Get Schema Body Latest</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>689ec8a9-e3af-35a0-0000-000000000000</id>
                    <parentGroupId>1c7c007f-c287-3b92-0000-000000000000</parentGroupId>
                    <position>
                        <x>1406.7504653930664</x>
                        <y>1249.0</y>
                    </position>
                    <versionedComponentId>689ec8a9-e3af-35a0-a5ac-2785a52a725f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0.3.1.0.0-564</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>
    <name>Filename</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>
    <name>User Agent</name>
</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>
    <name>Accept Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>
    <name>redirect-cookie-policy</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>60 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>http://princeton1.field.hortonworks.com:7788/api/v1/schemaregistry/schemas</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>schemas${now():toNumber()}.json</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>NIFI-STATUS</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>true</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>standard</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>60 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>60 sec</yieldDuration>
                    </config>
                    <name>GetHTTP - Get Schemas</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
            </contents>
            <name>Backup Schemas</name>
            <variables/>
            <versionControlInformation>
                <bucketId>77af1571-e1a4-435f-af74-7b814f33c565</bucketId>
                <bucketName>conference</bucketName>
                <flowDescription></flowDescription>
                <flowId>6c64153f-c106-4322-b6aa-b850e04a0191</flowId>
                <flowName>backup schemas</flowName>
                <registryId>adc0435b-3eb5-1e1a-ffff-fffff521cba3</registryId>
                <registryName>nipyapi_console_reg_client_0</registryName>
                <state>UP_TO_DATE</state>
                <stateExplanation>Flow version is current</stateExplanation>
                <version>2</version>
            </versionControlInformation>
        </processGroups>
    </snippet>
    <timestamp>03/10/2018 18:55:27 UTC</timestamp>
</template>
