sensor.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Sensor</description>
  <groupId>0f9a6483-0157-1000-91b3-5734c0b09032</groupId>
  <name>Sensor</name>
  <snippet>
    <connections>
      <id>01571001-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>01571000-6f9f-1f9a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>0f9ae951-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571005-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>0f9ae951-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>01571004-6f9f-1f9a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01571008-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>0f9ae951-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>01571007-6f9f-1f9a-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0f9ac94c-0157-1000-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>0f9a6f9f-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Message</selectedRelationships>
      <source>
        <groupId>0f9a6483-0157-1000-0000-000000000000</groupId>
        <id>0f9aa107-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>01571000-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>459.0</x>
        <y>575.1595821445032</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/sensor/failure</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>022</value>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS Failure</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#1282eb</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>01571004-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>700.2106092193699</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>60 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://192.168.1.10:8888/pi/api/v1.0/sensors</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>sensors${now():toNumber()}.json</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>900 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>60 sec</yieldDuration>
      </config>
      <name>GetHTTP - Sensor Pi</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>01571007-6f9f-1f9a-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>269.8736841069499</x>
        <y>5.745025634765625</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/opt/demo/sensors</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile Unit Test</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>0f9a6f9f-0157-1000-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>470.15958214450325</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/sensor</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>022</value>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#1282eb</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>0f9aa107-0157-1000-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.7340356694498951</x>
        <y>174.2354736328125</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Broker URI</key>
            <value>
              <name>Broker URI</name>
            </value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>
              <name>Client ID</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Topic</key>
            <value>
              <name>Last Will Topic</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Message</key>
            <value>
              <name>Last Will Message</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Retain</key>
            <value>
              <name>Last Will Retain</name>
            </value>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
            <value>
              <name>Last Will QoS Level</name>
            </value>
          </entry>
          <entry>
            <key>Session state</key>
            <value>
              <name>Session state</name>
            </value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>
              <name>MQTT Specification Version</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>
              <name>Connection Timeout (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>
              <name>Keep Alive Interval (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Topic Filter</key>
            <value>
              <name>Topic Filter</name>
            </value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>
              <name>Quality of Service(QoS)</name>
            </value>
          </entry>
          <entry>
            <key>Max Queue Size</key>
            <value>
              <name>Max Queue Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Broker URI</key>
            <value>tcp://localhost:1883</value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>nifi2</value>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Last Will Topic</key>
          </entry>
          <entry>
            <key>Last Will Message</key>
          </entry>
          <entry>
            <key>Last Will Retain</key>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
          </entry>
          <entry>
            <key>Session state</key>
            <value>true</value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>30</value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>60</value>
          </entry>
          <entry>
            <key>Topic Filter</key>
            <value>sensor</value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>2</value>
          </entry>
          <entry>
            <key>Max Queue Size</key>
            <value>2048</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeMQTT</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Message</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
    </processors>
    <processors>
      <id>0f9ae951-0157-1000-0000-000000000000</id>
      <parentGroupId>0f9a6483-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>448.7340356694499</x>
        <y>281.2354736328125</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Broker URI</key>
            <value>
              <name>Broker URI</name>
            </value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>
              <name>Client ID</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Topic</key>
            <value>
              <name>Last Will Topic</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Message</key>
            <value>
              <name>Last Will Message</name>
            </value>
          </entry>
          <entry>
            <key>Last Will Retain</key>
            <value>
              <name>Last Will Retain</name>
            </value>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
            <value>
              <name>Last Will QoS Level</name>
            </value>
          </entry>
          <entry>
            <key>Session state</key>
            <value>
              <name>Session state</name>
            </value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>
              <name>MQTT Specification Version</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>
              <name>Connection Timeout (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>
              <name>Keep Alive Interval (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Topic</key>
            <value>
              <name>Topic</name>
            </value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>
              <name>Quality of Service(QoS)</name>
            </value>
          </entry>
          <entry>
            <key>Retain Message</key>
            <value>
              <name>Retain Message</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Broker URI</key>
            <value>tcp://localhost:1883</value>
          </entry>
          <entry>
            <key>Client ID</key>
            <value>nifi1</value>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Last Will Topic</key>
          </entry>
          <entry>
            <key>Last Will Message</key>
          </entry>
          <entry>
            <key>Last Will Retain</key>
          </entry>
          <entry>
            <key>Last Will QoS Level</key>
          </entry>
          <entry>
            <key>Session state</key>
            <value>true</value>
          </entry>
          <entry>
            <key>MQTT Specification Version</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout (seconds)</key>
            <value>30</value>
          </entry>
          <entry>
            <key>Keep Alive Interval (seconds)</key>
            <value>60</value>
          </entry>
          <entry>
            <key>Topic</key>
            <value>sensor</value>
          </entry>
          <entry>
            <key>Quality of Service(QoS)</key>
            <value>2</value>
          </entry>
          <entry>
            <key>Retain Message</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishMQTT - Test</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.mqtt.PublishMQTT</type>
    </processors>
  </snippet>
  <timestamp>09/14/2016 23:26:02 UTC</timestamp>
</template>